@import url('./nav/index.css');
@import url('./header/index.css');
@import url('./profesionales/index.css');
@import url('./servicios/index.css');
@import url('./swiper/index.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

:is(p, a){
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*Contenedores generales*/

.st{
    width: 100%;
    padding: 5em 0;
}

.st__w-100{
    max-width:70em;
    margin: 0 auto;
    padding: 0 1.25em;
}

.st__grid-column{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.st__d-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,30em), 1fr));
    gap: 2em;
}

.st__img{
    max-width: 30em;
    margin: 0 auto;
    padding: 1.2em 0;
}

/*Textos generales*/

.st__grid-column h2{
    font-size: 1.6em;
    margin: 2rem 0 0 0;
}

.st__grid-column h2 b,
.st__grid-column p b{
    color: #e077eed5;
}

.st__grid-column p{
    font-size: 0.9em;
    max-width: 31.25rem;
    text-align: left;
    padding: 0.625rem 0 0 0;
}

/*btn general*/
.btn{
    font-size: 1.2em;
    padding: 0.625rem;
    background: none;
    color: rgba(255, 255, 255, 0.719);
    border: 2px solid #e077eed5;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:350px){

    /*Textos generales*/

    .st__grid-column h2{
        font-size: 1.2em;
    }

    .st__grid-column p{
        font-size: 0.6em;
        max-width: 31.25rem;
    }

    .btn{
        font-size: 0.8em;
    }
}